PORT=3000

# Base de données
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=task_manager_db

# JWT
JWT_SECRET=your_secret_key_here
JWT_EXPIRES_IN=1d

# API externe (OpenWeatherMap)
WEATHER_API_KEY=your_api_key_here
